<h1 class="w3-container w3-teal w3-padding-jumbo">New List</h1>

<%= render 'form' %>

<div class="w3-container w3-padding-jumbo"> <%= link_to 'Back', user_lists_path, class: "w3-btn w3-teal" %>
</div>